@model IEnumerable<Code_Challenge_9_Question_2_.Models.Movie>

@{
    ViewBag.Title = "Find Movies By Director";
}

<h2>Find Movies By Director</h2>

@using (Html.BeginForm("ByDirector", "Movies", FormMethod.Post))
{
    <label for="director">Enter Director Name:</label>
    <input type="text" name="director" id="director" required />
    <input type="submit" value="Search" />
}

@if (Model != null)
{
    if (Model.Any())
    {
        <h3>Movies by @ViewBag.Director</h3>
        <table class="table">
            <tr>
                <th>Movie</th>
                <th>Release Date</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Moviename</td>
                    <td>@item.DateofRelease.ToShortDateString()</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>No movies found for the entered director.</p>
    }
}